#
# Realtek Semiconductor Corp.
#
# Luna Platform Kernel Configuration
#
# Bo-Hung Wu (bohungwu@realtek.com)
# Apr. 01, 2014
#


menu "Luna Platform Configuration"

config LUNA_CMU
	depends on !ARCH_LUNA_SLAVE
	bool "Luna platform clock mangement module"
	default n
	help 
		Enable/Disable clock management dynamic mode by Kernel.
		When this moduel is built, clock management dynamic mode
		will be turned off at the entry of RLX trap handler and
		turned on at the entry of cpu_idle().
		
config CPU0_FREQ_DIV_INDEX
	int "CPU0 frequency dividing factor at dynamic mode on (1:(1/2)F, 2:(1/4)..)"
	depends on LUNA_CMU
	range 1 7
	default 1
	help
		1:(1/2)F, 2:(1/4), 3:(1/8), 4:(1/16), 5:(1/32), 6:(1/64), 7:(1/128)

config CPU0_DLY_SLP_INDEX
	int "CPU0 frequency dividing activation delay (0: 0.5us, 1:1us, ...)"
	depends on LUNA_CMU
	range 0 7
	default 0
	help
		0:0.5us, 1:1us, 2:2us, 3:4us, 4:8us, 5:16us, 6:32us, 7:No Sleep

config LUNA_WDT
	depends on !ARCH_LUNA_SLAVE
	bool "Luna platform watchdog"
	default n
	help 
		Control (enable/disable) watchdog.
		Configure time-out and etc setting for watchdog

config LUNA_WDT_KTHREAD
	depends on !ARCH_LUNA_SLAVE && LUNA_WDT
	bool "Luna platform watchdog with watchdog kthread for kick"
	default n
	help 
		Control (enable/disable) watchdog.
		Configure time-out and etc setting for watchdog

config WDT_ENABLE
	int "Enable or disalble WDT at boot-up"
	depends on LUNA_WDT_KTHREAD
	range 0 1
	default 1
	help
		0:disable, 1:enable

config WDT_CLK_SC
	int "WDT overflow scale"
	depends on LUNA_WDT_KTHREAD
	range 0 3
	default 3
	help
		0:2^25, 1:2^26, 2:2^27, 3:2^28

config WDT_PH1_TO
	int "WDT phase 1 time-out threshold"
	depends on LUNA_WDT_KTHREAD
	range 0 31
	default 31


config WDT_PH2_TO
	int "WDT phase 2 time-out threshold"
	depends on LUNA_WDT_KTHREAD
	range 0 31
	default 0
	help
		In the WDT ISR, related system information for further debugging should be collected within PH2.

config WDT_RESET_MODE
	int "WDT reset mode after PH2 time-out expires."
	depends on LUNA_WDT_KTHREAD
	range 0 2
	default 0
	help
		0:H/W Full Chip Reset, 
		1:H/W CPU & IPSec Reset 
		2:S/W Reset

config LUNA_USE_SRAM
	bool "Luna platform 32KB SRAM mapping"
	depends on !ARCH_LUNA_SLAVE
	default n
	help 
		Enable/Disable the 32KB SRAM Mapping automatically.
		The function will map 32KB space for __sram address of vmlinux.lds from DRAM onto SRAM
		to improve the performance.

config LUNA_USE_SRAM_ADDR
	hex "Luna platform 32KB SRAM mapping address(0 => Address of __sram section)"
	depends on LUNA_USE_SRAM
	default 0x0
	help 
		The start address of sram mapping. 0x0 indicates that the platform will map the __section section
		from DRAM to SRAM with 32KB memory space. The assigned address would be used instead of __sram address.


config LUNA_PROC_CP3_MONITOR
         bool "Luna Performance Profiling" if !RTK_CP3_PERF
	 default n
	---help---
		Enable system profile tool /proc/cp3monitor.
		Support CP0 CYCLE register and 4 CP3 event counters probe. 

							     
config LUNA_PROC_CP3_MONITOR_EXCLUDE_IDLE
	bool "Luna Performance Profiling Exclude from Idle Thread"
	depends on LUNA_PROC_CP3_MONITOR
	---help---
		Support '-idle <cycle count>' option for system profile tool /proc/cp3monitor.
		System will wait <cycle count> cycles and stop counting CP3 event counters when in cpu_idle thread.

config LUNA_CPU_OPTION_SWITCH
	bool "Luna platform support CPU options switch"
	default n
	help 
		For experiment goal, allow user to disable or enable CPU options.


config LUNA_RESERVE_DRAM_FOR_PBO
	bool "Luna platform reserve DRAM for PBO"
	depends on !ARCH_LUNA_SLAVE
	default n
	help 
		Enable/Disable DRAM reservation for PBO

config LUNA_PBO_DL_DRAM_OFFSET
	hex "Luna platform PBO DL DRAM OFFSET"
	depends on LUNA_RESERVE_DRAM_FOR_PBO
	default 0x1700000
	help 
		The offset of DRAM to be reserved for PBO DL.

config LUNA_PBO_DL_DRAM_SIZE
	hex "Luna platform PBO DL DRAM SIZE"
	depends on LUNA_RESERVE_DRAM_FOR_PBO
	default 0x100000
	help 
		The size of DRAM to be reserved for PBO DL.

config LUNA_PBO_UL_DRAM_OFFSET
	hex "Luna platform PBO UL DRAM OFFSET"
	depends on LUNA_RESERVE_DRAM_FOR_PBO
	default 0x1F00000
	help 
		The offset of DRAM to be reserved for PBO UL.

config LUNA_PBO_UL_DRAM_SIZE
	hex "Luna platform PBO UL DRAM SIZE"
	depends on LUNA_RESERVE_DRAM_FOR_PBO
	default 0x100000
	help 
		The size of DRAM to be reserved for PBO UL.

config LUNA_SOC_GPIO
	depends on !ARCH_LUNA_SLAVE
	bool "Luna SOC GPIO"
	default n
	help 
		Enable/Disable the use SOC GPIO (disable uses switch GPIO).

endmenu


