# $(CROSS_COMPILE) stands for prefix of your own toolkits.
# Modify it so $(CROSS_COMPILE)gcc points to your compiler,
# and rename this file to `toolkit_path.in'.
#
# Since content of toolkit_path.in differs from users to users,
# ** THOU SHALL NOT COMMIT toolkit_path.in TO REPOSITORY! **
CROSS_COMPILE?=/path/to/your/own/tool/kit
OTTO_RELEASE_DIR?=/path/to/your/otto/release
